.productlist {
  position: relative;
  left: 20%;
  top: 50px;
  width: 79.5%;
  height: 1000px;

  .wrapper {
    padding: 30px 20px;
  }
}

.products {
  display: flex;
  align-items: center;

  .productimg {
    background-color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.actions1 {
  display: flex;
  align-items: center;
  cursor: pointer;

  .edit1 {
    background-color: rgb(109, 208, 109);
    color: white;
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .delete1 {
    color: darkred;
  }
}
