.largewidget {
  margin: 10px;
  width: 100%;
  height: auto;
  padding: 0;

  -webkit-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
  -moz-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
  box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);

  .wrapper {
    width: 100%;
    height: 100%;

    h4 {
      font-weight: 500;
      font-size: 25px;
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    .top {
      margin-bottom: 20px;
      margin-top: 15px;
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .customer {
        position: relative;
        right: 30px;
      }
      .status {
        position: relative;
        left: 30px;
      }
    }

    ul {
      list-style-type: none;
      width: 100%;
      height: 100%;

      .userli {
        cursor: pointer;
        position: relative;
        right: 38px;
        margin: 5px 3px;
        width: 96%;
        height: 40px;
        padding: 3px;

        &:hover {
          border-radius: 10px;
          -webkit-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
          -moz-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
          box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
        }

        .date {
          position: absolute;
          left: 34%;
          top: 23%;
        }
        .amount {
          position: absolute;
          right: 32%;
          top: 23%;
        }

        .userphoto {
          position: absolute;
          left: 2px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 4px;
        }

        .username {
          position: absolute;
          top: 2px;
          left: 50px;
          font-weight: 500;
        }

        .userjob {
          position: absolute;
          bottom: 4px;
          left: 50px;
          color: lightgray;
          font-size: 13px;
          font-weight: 400;
        }

        .button {
          display: flex;
          align-items: center;
          position: absolute;
          top: 15%;
          right: 0;
          padding: 4px 4px;
          margin-right: 4px;
          border-radius: 15%;
          border: none;
          cursor: pointer;

          &.Approved {
            background-color: rgb(223, 243, 223);
            color: rgb(98, 201, 98);
          }
          &.Pending {
            background-color: rgb(200, 225, 234);
            color: blue;
          }
          &.Rejected {
            background-color: rgb(236, 220, 220);
            color: red;
          }
        }
      }
    }
  }
}
