.topbar {
  //  border: 2px solid black;
  width: 99.9%;
  height: 60px;
  background-color: white;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;

  .wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .left {
      .logo {
        font-weight: bold;
        font-size: 30px;
        color: darkblue;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      .icons {
        position: relative;
        margin-right: 10px;
        cursor: pointer;
        color: #555;

        span {
          position: absolute;
          background-color: red;
          width: 15px;
          height: 15px;
          top: -5px;
          right: 0px;
          font-size: 10px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: 900;
        }
      }
      .image {
        // position: relative;

        //  right: 5px;

        .logout {
          margin-top: 5px;
          cursor: pointer;
          position: relative;
          background-color: white;
          right: 12px;
          width: 80%;
          display: none;
          padding: 2px;
          border-radius: 5px;
          -webkit-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
          -moz-box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
          box-shadow: -1px 3px 17px 0px rgba(217, 182, 217, 1);
        }

        &:hover {
          position: relative;
          top: 14.8px;
          .logout {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .photo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
